
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  
}

.wrapper {
  

}



header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 20px; 
  font-size: larger;
  background-color: white;
}

header img {
  max-width: 120px;
  height: auto;

}

h1, h2, h3 {
  margin: 0.5rem 0;
}


h1 {
  color:blue;
}

h2 {
  color:midnightblue;
}

h3 {
  color:blue;
}

h4 {
  color: orangered;
}

nav {
  background-color: lightblue;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 1rem;
  list-style-type: none;
}

nav ul li a:hover {
  text-decoration: underline;
  
}

main {
  display: flex;
  padding-left: 0.5rem;
}

.left-column {
  flex: 1;
  padding: 1rem;
  
}



.left-column img, .right-column img {
  max-width: 100%;
  border-radius: 10px;
  
}

nav ul {
  flex-direction: row;
  text-align: center;
}

main {
  flex-direction: row;
}

.right-column {
  text-align: left;
  flex: 1;
}



.event-container img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.event-container h2 {
  margin: 5px 0;
}

.snouts-and-abouts img {
   width: 250px;
  height: auto;
  
}

.snouts-and-abouts h2 {
  margin: 5px 0;
}


.frenchie3 img {
  width: 250px;
  height: auto;
}

.pic-right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.container{
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
  
  
}


.frenchies img {
  border-radius: 10px;
}

.main-body {
  margin-left: 10px;
}

.index-copy {
  margin-left: 10px;
}

